html,
body,
ul,
li {
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
}

.container--main {
  background: linear-gradient(215deg, #5d90ae, #fff);
  color: #fff;
  padding-top: 50px;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 900;
  font-size: 18vw;
}

.subtitle {
  align-self: flex-end;
  font-size: 5vw;
  font-weight: 900;
  margin-bottom: 20px;
  margin-right: 25;
  margin-top: 10px;
}

.section-main {
  border-top: 1px solid #fff;
}

.section-title {
  font-size: 4vw;
  margin-top: 17px;
}

.article {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.article-logo {
  width: 10vw;
}

.note {
  font-size: 11px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 22px;
  text-align: center;
}

.examples {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.example {
  color: #000;
  font-size: 3vw;
  font-weight: 300;
  margin-bottom: 45px;
  width: 22vw;
}

.example-logo {
  width: 100%;
}

.container--about {
  border-top: 1px solid #ddd;
}

.abouts {
  display: flex;
  margin-top: 25px;
  margin-bottom: 40px;
  justify-content: space-between;
}

.about-blurb {
  width: 30%;
  font-size: 3vw;
}

.tech {
  font-size: 2vw;
}

.staff-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.staff-pic {
  width: 100%;
  max-width: 200px;
}

.name {
  font-size: 4vw;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

.job {
  font-size: 13px;
  font-weight: 300;
  margin-top: 6px;
  max-width: 200px;
}

.contact {
  font-weight: 900;
  text-align: center;
}

@media (min-width: 800px) {
  .container {
    padding: 0 100px;
  }

  .article {
    font-size: 3vw;
  }

  .note {
    font-size: 1vw;
  }

  .example {
    font-size: 2vw;
  }

  .about-blurb {
    font-size: 2vw;
  }

  .tech {
    font-size: 1vw;
  }

  .contact {
    font-size: 2vw;
  }
}
