<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/index.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dracula.css" />
    <script src="/highlight.pack.js"></script>
    <title>Jeffers</title>
  </head>
  <body>
    <div class="container container--main">
      <div class="title-container">
        <span class="title">jeffers</span>
        <span class="subtitle">software-making</span>
      </div>
    </div>
    <div class="container">
      {{body}}
    </div>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
